@charset "@UTF-8";

body {
    background-color: rgb(238, 193, 134);
}

h1 {
    text-align: center;
    color: white;
}

section {
    margin: auto;
    width: 400px;
    height: 340px;
    padding: 35px;
    background-color: rgb(252, 249, 249);
}

#ins {
    width: 9em;
}

#sel, #cont {
    margin-top: 2em;
}

#sel {
    width: 12em;
}

footer {
    color: white;
    text-align: center;
}